#loading-page__github {
  background: var(--background-github);
}

#loading-page__linkedin {
  background: var(--background-linkedin);
}

#loading-page__telegram {
  background: var(--background-telegram);
}

#loading-page__email {
  background: var(--background-email);
}

.icon__github,
.icon__linkedin,
.icon__email {
  position: absolute;
  top: 28%;
  right: 40%;
  height: 18rem;
  width: 18rem;
}

.icon__telegram {
  position: absolute;
  top: 32%;
  right: 43%;
  height: 15rem;
  width: 15rem;
}
