#loading-page__github {
  background: var(--background-github);
}

#loading-page__linkedin {
  background: var(--background-linkedin);
}

.icon__github,
.icon__linkedin {
  position: absolute;
  top: 32%;
  right: 40%;
  height: 18rem;
  width: 18rem;
}
